<div class="container">
    <div class="container border rounded">
        <h1 class="text-center">Hi, I'm Naggie</h1>
        <p>
            Naggie is a web application that sends multiple reminders to complete tasks for forgetful people and people
            who get distracted easily. Her primary audience is folks with mental health concerns that can make them
            forgetful, such as depression, anxiety, ADHD, etc. Naggie will check on you to start your task and
            occasionally remind you to stay on task.
        </p>
        <p>
            To start, create an account so that Naggie can track the events and tasks that you wish to be reminded
            about. Once you've logged in, choose a day on the calendar and fill out the time you wish to be reminded
            at and what you're being reminded of. You'll also choose how frequent Naggie will check on you and "nag"
            you to stay on task.
        </p>
        <hr class="my-4">
        <div class="text-center">
            <a class="btn btn-outline-success" href="register">Register</a>
            <a class="btn btn-outline-success" href="login">Login</a>
        </div>
    </div>
</div>
</body>
</html>